*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* HEADER */
/* navbar and heading */
.header
{
    padding-bottom:30px;
}

.navbar-link
{
    list-style-type:none;
}

/* card */
.card
{
    background-color: white;
    margin:30px auto;
    width:100%;
    padding:20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.employees-card
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:90%;
    height:400px;
    margin:5%;
    background-color: rgb(255, 255, 255);

}

.employees-card:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.employees-card h5
{
    padding:0 20px;
}

.employees-card h4
{
    color:rgb(88, 10, 75);
    text-align: right;
    padding-right:10px;
}


.employees-image
{
    width:100%;
    height: 300px;
}

 @media only screen and (max-width:770px) and (min-width:427px) {
    .card
    {
        grid-template-columns:50% 50%;
    }

    .header img
    {
        width:100%;
        margin:0 auto;
    }

    .header h2
    {
        font-size:60px;
    }

    .header p 
    {
        font-size:30px;
    }
}

@media only screen and (max-width:426px) and (min-width:319px) {
    body
    {
        background-color: rgb(255, 255, 255);
    }

    .card
    {
        display:grid;
        grid-template-columns:100%;
    }

    .header img
    {
        width:100%;
        margin:0 auto;
    }

    
} 